body{
background-color: rgba(0, 0, 0, 0.693);
}
*{
    margin: 0;
    padding: 0;

}
h1, h2{
text-align: center;
max-width: 400px;
font-weight: 100;
font-size: 1.3em;

}
h1{
    
    margin: 30px auto;
    background-color: rgba(67, 67, 67, 0.342);
    padding: 5px;
    border-radius: 2vh;
    border: 1px solid rgba(0, 0, 0, 0.252);
    
}
h2{
    margin: auto;
    background-color: rgba(67, 67, 67, 0.342);
    padding: 5px;
    border-radius: 2vh;
    border: 1px solid rgba(0, 0, 0, 0.252);
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 2vh;
    margin: 30px auto;
    border: 3px solid rgba(0, 0, 0, 0.2);
    width: 400px;
background: rgba(76, 248, 14, 0.405);
}
label{
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0.937);
    padding: 5px;
    border-radius: 3vh;
    border-bottom: 2px solid rgba(0, 0, 0, 0.364);
}
button{
    margin-bottom: 20px;
}
input{
margin: 5px;
    width: 300px;
    border-radius: 5vh;
    color: rgb(0, 0, 0);
    padding: 6px;
}